@charset "utf-8";
/* Reset
----------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	zoom:1;	/* hasLayout in IE */
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font:inherit;
	font-size:100%;
	font-weight:normal;
	font-style:normal;
	vertical-align:baseline;
	background:transparent;
}

header, menu, nav, footer,
section,article, aside,
details, summary,
figure, figcaption{display:block;}

ol, ul{list-style:none;}

table{
	border-collapse:collapse;
	border-spacing:0;
}
/* テーブル（表）の列幅を固定 */
table, th, td{table-layout:fixed;}
caption, th, td{
	text-align:left;
	font-weight:normal;
	vertical-align:middle;
}

q, blockquote{quotes:none;}
q:before, q:after, blockquote:before, blockquote:after{
	content:"";
	content:none;
}

img{
	vertical-align:bottom;
	line-height:0;
}

a{
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
a:focus{outline:none;}
a img{border:none;}

textarea{overflow:auto;}
label{cursor:pointer;}

/* Common
----------------------------------------------------------- */
/* clearfix ------ */
.clearfix:after{
	display:block;
	visibility:hidden;
	content:".";
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
}
/* IE6 ------ */
* html .clearfix{zoom:1;}
/* IE7 ------ */
*:first-child + html .clearfix{zoom:1;}
